.artist-sidebar {
  background-color: #212ea0;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.artist-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.artist-sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.artist-sidebar ul li a:hover {
  color: grey;
}

.artist-sidebar-icon {
  margin-right: 10px;
}

.artist-logout-button {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

.artist-logout-button:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  color:  white;
}