.profile-section {
  width: 80%;
  margin-left: 70px;
}
.profile-picture-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.profile-picture-section {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #007bff;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
}

.edit-icon:hover {
  color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #eaf4fb, #f7ecf7);
  transition: all 0.3s ease;
}

.modal-upload-button {
  color: #212ea0;
  background: none;
  border: none;
}

.modal-upload-button:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  color: white;
}

.modal-remove-button {
  color: red;
  background: none;
  border: none;
}

.modal-remove-button:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  color: white;
}

.modal-cancel-button {
  color: black;
  background: none;
  border: none;
}

.modal-cancel-button:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  color: white;
}

.file-input {
  display: block;
}

.form-section {
  margin-bottom: 20px;
}

.form-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-section button {
  background: #212ea0;
  color: white;
}

.form-section button:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
}

.save-button {
  background: #212ea0;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}


.save-button:hover{
  background: linear-gradient(135deg, #2980b9, #8e44ad);
}
