/* Sidebar Styling */
.client-dashboard {
  display: flex;
  height: 100%;
}

.client-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #212ea0;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Main Dashboard Area */
.client-main-dashboard {
  margin-left: 250px;
  padding: 20px;
  background-color: #f3f4f6;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Browse Artists Container */
.client-browse-artist-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.client-browse-artist-container h2{
  text-align: center;
}

/* Filters Section */
.client-browse-artist-filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

/* Artist Cards Grid */
.client-browse-artist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-height: 60vh;
  overflow-y: auto;
}

/* Artist Card */
.client-browse-artist-card {
  width: 220px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.client-browse-artist-card:hover {
  transform: translateY(-5px);
}



