.artist-chat-container {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 80px); /* Adjust based on header height */
  background-color: #f3f4f6;
  border-left: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.artist-chat-chats {
  width: 27.35%;
  margin-right: 5px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
  background: linear-gradient(135deg, #eaf4fb, #f7ecf7);
  border-left: none;
}

.chats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.artist-chat-chats h4 {
  font-size: 18px;
  color: #333;
}

.artist-chat-chats ul {
  list-style: none;
  padding: 0;
  margin-top: -25px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 grey;
}

.artist-chat-chats ul::-webkit-scrollbar {
  width: 1px;
}

.artist-chat-chatadd-s ul::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #eaf4fb, #f7ecf7);
  border-bottom:  1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.chat-item:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-name-status {
  display: flex;
  align-items: center;
}

.chat-name {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.chat-item:hover .chat-name{
  color: #fff;
}

.online-dot, 
.offline-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.online-dot {
  background-color: green;
}

.offline-dot {
  background-color: red;
}

.contact-icon {
  margin-top: -3px;
}

.add-contact-icon,
.close-contact-icon {
  cursor: pointer;
  color: #fff;
  padding: 5px;
  background-color: #007bff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
  border-radius: 50px;
  transition: color 0.2s ease-in-out;
}

.add-contact-icon:hover,
.close-contact-icon:hover {
  color: #fff;
  background: linear-gradient(135deg, #2980b9, #8e44ad);;
}

.close-contact-icon {
  right: 20px;
  top: 10px;
}

.chats-box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: white;
  overflow: hidden;

}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #eaf4fb, #f7ecf7);
  border-radius: 0; /* Set border-radius to 0 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.chats-headerr{
  margin-bottom: 30px;
}

.chat-header-content h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px ;
}

.online-status {
  font-size: 14px;
  color: gray;
}

.chats-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  scrollbar-width: thin;
  scrollbar-color: grey #f1f1f1;
}

.chats-messages::-webkit-scrollbar {
  width: 2px;
}

.chats-messages::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 4px;
}

.chats-message {
  display: flex;
  margin-bottom: 15px;
}

.chats-sent {
  justify-content: flex-end;
  
}

.chats-received {
  justify-content: flex-start;
}

/* Chat bubble with hover effect */
.chats-message-content {
  max-width: 50%;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
  line-height: 1.5;
  transition: transform 0.2s ease;
}

.chats-message-content:hover {
  transform: scale(1.02);
}

.chats-sent .chats-message-content {
  background-color: white; /* Set background to white */
  color: black; /* Ensure text color is visible on white background */
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.2); /* Optional: add a subtle border */
}

.chats-received .chats-message-content {
  background-color: white;
  color: black;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.2);

}

/* Typing indicator */
.typing-indicator {
  font-size: 14px;
  color: #999;
  margin-top: 10px;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.typing-indicator.hide {
  opacity: 0;
}

/* Message input box with subtle shadow */
.chats-message-input {
  display: flex;
  padding: 15px 20px;
  background: linear-gradient(135deg, #eaf4fb, #f7ecf7);
  border-top: 1px solid #ddd;
  align-items: center;
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.chats-message-input input {
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-right: 10px;
  transition: border 0.2s;
}

.chats-message-input input:focus {
  border-color: black;
  outline: none;
}

.add-attachment-icon {
  cursor: pointer;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  padding: 5px;
  border-radius: 50px;
  background-color: #212ea0;
  transition: background-color 0.2s, transform 0.2s;
}

.add-attachment-icon:hover {
  color: white;
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  transform: rotate(20deg); /* Rotate on hover */
}

.send-message-btn {
  padding: 10px 25px;
  background-color: #212ea0;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s;
}

.send-message-btn:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  transform: translateY(-2px) scale(1.05);
}

.select-chat-placeholder {
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 20px;
}



.chat-edit-icon {
  visibility: hidden;
  cursor: pointer;
}

.chat-item:hover .chat-edit-icon {
  visibility: visible;
}

.chat-action-menu {
  position: absolute;
  right: 10px; /* Position to the right of the chat item */
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.chat-action-menu p {
  margin: 0;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.chat-action-menu p:hover {
  background-color: #f0f0f0;
}

/* Additional styling for the chat item to make it clickable */
.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.chat-item:hover {
  background: linear-gradient(135deg, #2980b9, #8e44ad);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attached-image {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 8px;
}

.attached-video{

    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-top: 8px;
}
.attached-audio {
  max-width: 150%;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 8px;
}

.attached-document {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
  display: inline-block;
}
.attached-document:hover {
  text-decoration: underline;
}

.media-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.media-modal-content {
  position: relative;
  max-width: 90%;
  height: 80%;

}

.close-modal-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.modal-image,
.modal-video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
/* Initially hidden edit icon */
.message-edit-icon {
  visibility: hidden;
  cursor: pointer;

}

/* Show the edit icon only on hover */
.chats-message:hover .message-edit-icon {
  visibility: visible;
}



/* Positioning the action menu */
.message-action-menu {
  position: absolute;
  right: 10px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.message-action-menu p {
  margin: 0;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.message-action-menu p:hover {
  background-color: #f0f0f0;
}
.no-scroll {
  overflow: hidden !important;
  height: 100%;
}
